@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
@import './theme.scss';
* {
    font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}
$max-width: 860px;
body {
    background-color: $c-background;
}
body , div , p , h1 , h2 , h3 ,h4 ,h5 , span , li , .icon {
    transition: 250ms all;
    -webkit-transition: 250ms all;
    -moz-transition: 250ms all;
    -ms-transition: 250ms all;
    -o-transition: 250ms all;
}
.container {
    max-width: $max-width;
    margin: 0 auto;
    //background: rgb(212, 212, 212);
}
.blog-post {
    padding: 15px;
    width: 100%;
    max-width: $max-width;
}
.icon {
    font-size: 20px;
    color: $c-general;
}
.size-4 {
    font-size: 40px;
}
.link {
    text-decoration: none;
    padding: 2px 0px;
    color: $c-general;
    border-bottom: 3px solid $c-background;
    &:hover {
        border-bottom: 3px solid $c-general;
    }
    &.nuxt-link-exact-active {
        border-bottom: 3px solid $c-general;
    }

}
.icon-button {

}
img {
    width: 100%;
    max-width: $max-width;
}