:root {
    --background: #f3f5f4;
    --color: #000;
    --border-color: #7f7dff;
    --modal-color: #b2b1fd;
}

.dark-mode {
    --background: rgb(23, 23, 26);
    --color: #f3f3f3;
}

.light-mode {
    --background: #f3f5f4;
    --color: #000;
}

$c-modal: var(--modal-color);
$c-background: var(--background);
$c-general: var(--color);
$c-border: var(--border-color)